@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,400&family=Unbounded:wght@200;400;700&display=swap');

html, body {
  background-color: #fefefe;
  width: 100%;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

#header {
  padding: 32px 64px;
  padding-right: 160px;
  background-color: #f66e14;
}

#header .header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-left img {
  width: 250px;
  height: auto;
}

#header .header-right {
  display: flex;
  gap: 3vw;
}

#header .header-right a {
  text-decoration: none;
  color: #fefefe;
  font-size: 24px;
}

#footer {
  background-color: #f66e14;
  color: #fefefe;
  text-align: center;
  padding: 16px;
}

#home .block1 {
  background-color: #4d5e6a;
  color: #fefefe;
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  padding: 40px;
  gap: 10px;
}

#home .block1 > div {
  /* border: 2px solid red; */
  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#home .block1 h1 {
  font-size: 56px;
}

#home .block1 > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#home .block1 > div > div > ul {
  text-align: left;
  list-style: square;
  padding: 0;
  font-size: 24px;
}

#home .block1 > div > div > a {
  font-weight: bold;
  text-align: center;
  color: #fefefe;
  background-color: #f66e14;
  text-decoration: none;
  border-radius: 24px;
  padding: 20px 32px;
  height: fit-content;
  font-size: 28px;
}


#home .block1 > img {
  max-width: 40vw;
  height: auto;
  object-fit: cover;
  /* border: 2px solid red; */
}

#home .block2 {
  padding: 40px 100px;
}

#home .block2 > h2 {
  text-align: center;
  font-size: 52px;
  margin-bottom: 120px;
  margin-top: 48px;
}

#home .block2 > div{
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  justify-content: space-evenly;
}

#home .block2 img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border: 2px #0a0a0a solid;
  border-radius: 8px;
}

#home .block2 p {
  text-align: center;
}

#home .block3 {
  background-color: #4d5e6a;
  color: #fefefe;
  padding: 120px 240px;
}

#home .block3 h2 {
  font-size: 40px;
}

#home .block3 a {
  text-decoration: none;
  color: #fefefe;
}

#home .block3 li{
  margin-top: 16px;
  list-style: none;
}